<p id="notice"><%= notice %></p>

<p>
  <strong>Property:</strong>
  <%= @property_nest.property %>
</p>

<%= link_to 'Edit', edit_property_nest_path(@property_nest) %> |
<%= link_to 'Back', property_nests_path %>
